[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
psycopg2 = "*"
djangorestframework = "*"
python-dotenv = "*"
djangorestframework-simplejwt = {extras = ["crypto"], version = "*"}
django-cors-headers = "*"
channels = {extras = ["daphne"], version = "*"}
shortuuid = "*"
channels-redis = "*"
redis = "*"
gunicorn = "*"
uvicorn = {version = "*", extras = ["standard"]}

[dev-packages]

[requires]
python_version = "3.10"
