<div class="app-background">
  <div class="app-content">
    <header>
      <nav class="nav-container">
        <div class="nav-button-container">
          <div class="nav-button neon-surface">
            <span class="material-symbols-outlined neon-text">
              flag
            </span>
          </div>
          <div class="nav-button neon-surface">
            <span class="material-symbols-outlined neon-text">
              logout
            </span>
          </div>
        </div>
        <div>
          <h2 class="logo-text neon-text">NeoTyper</h2>
        </div>
      </nav>
    </header>
    <router-outlet></router-outlet>
  </div>
</div>
