.game-page-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.game-text-container {
  background-color: var(--secondary-card-background-color);
  width: 100%;
  padding: 32px;
  border-radius: 2rem;
}

.game-input-container {
  background-color: var(--primary-card-background-color);
  width: 100%;
  height: 300px;
  border-radius: 2rem;
}

.correctly-typed {
  color: var(--correct-text-color);
}

.wrongly-typed {
  color: var(--wrong-text-color);
}

.not-typed {
  color: var(--primary-text-color);
}
